body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 80vh; /* Use 80% of the viewport */
}

.form-section {
  flex: 1; /* 50% of the width */
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f9;
}

.charts-section {
  flex: 2; /* 50% of the width */
  padding: 20px;
  overflow-y: auto;
}

h1,
h2 {
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.chart {
  margin-bottom: 30px;
  height: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
